<header class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Class List</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</header>

<h1>Classes</h1>
<table>
    <thead>
        <tr>
            <th>Details</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% classes.forEach(function(classes) { %>
        <tr>
            <td>
                <a href="<%= '/classes/' + classes.id %>">Details</a>
            </td>
                <td><%= classes.name %></td>
        </tr>
        <% }) %>
    </tbody>
</table>