<header class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/classes">Class List</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</header>
<h1>Class Details</h1>
<% if(eachClass) { %>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Class Length</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= eachClass.name %></td>
            <td><%= eachClass.description %></td>
            <td>$<%= eachClass.price %></td>
            <td><%= eachClass.course_length %></td>
        </tr>
        <% } else { %>
            <h1>ERROR!! ERROR!! Class Not Found</h1>
        <% } %>
    </tbody>
</table>